@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background-color:rgb(211, 128, 19);
  
  color: black;

.header-buttons{
  padding: 10px;;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-left: 10px;
  gap: 30px;
  color: white;
  
}
}
.Image1{
  padding: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: black;

}
.Text{
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
 background-color: black;
 color: whitesmoke;   
} 
  
.Aboutpage{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 50px ;
  color: whitesmoke;
  border-bottom-width: 100px;
  border-top-width: 0;
  border-left: 0;
  border-right: 0;
}
.footer{
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color:rgb(211, 128, 19);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.Education{
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}
.Skills{
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}
.Image2{padding: 50px;
align-items: center;
display: flex;
justify-content: center;
background-color: black;
}
